* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  background-color: #F5C0A4; 
}

.main {
  width: 80%;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #cecece; */
}

input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #eee;
  padding: .5rem; 
  margin-right: .25rem;
}


   
